<div class="container">
  <h2 id="section-heading">Unlock your potential with SkillWave!</h2>
  <div class="row">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-4">
          <div class="row">
            <div id="centre" class="col-sm-12">
              <button
                type="button"
                class="btn"
                data-bs-toggle="modal"
                data-bs-target="#hands"
              >
                <div id="row1div">
                  <span id="span21"
                    ><i class="fa-solid fa-hands-holding"></i></span
                  ><br />
                  <span id="span2"> Hands-on Weekly Assignments</span>
                </div>
              </button>
            </div>

            <div id="centre" class="col-sm-12">
              <button
                type="button"
                class="btn"
                data-bs-toggle="modal"
                data-bs-target="#live"
              >
                <div>
                  <span id="span21"
                    ><i class="fa-solid fa-certificate"></i></span
                  ><br />
                  <span id="span2">Live Project Certificate</span>
                </div>
              </button>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="row">
            <div id="centre" class="col-sm-12">
              <button
                type="button"
                class="btn"
                data-bs-toggle="modal"
                data-bs-target="#portfolio"
              >
                <div>
                  <span id="span21"><i class="fa-solid fa-user-tie"></i></span
                  ><br />
                  <span id="span2">Dedicated Portfolio </span>
                </div>
              </button>
            </div>

            <div id="centre" class="col-sm-12">
              <button
                type="button"
                class="btn"
                data-bs-toggle="modal"
                data-bs-target="#tool"
              >
                <div>
                  <span id="span21"><i class="fa-solid fa-fire"></i></span
                  ><br />
                  <span id="span2">Tool-based Learning </span>
                </div>
              </button>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="row">
            <div id="centre" class="col-sm-12">
              <button
                type="button"
                class="btn"
                data-bs-toggle="modal"
                data-bs-target="#world"
              >
                <div id="row1div">
                  <span id="span21"><i class="fa-solid fa-globe"></i></span
                  ><br />
                  <span id="span2">Real-world Practitioners</span>
                </div>
              </button>
            </div>
            <div id="centre" class="col-sm-12">
              <button
                type="button"
                class="btn"
                data-bs-toggle="modal"
                data-bs-target="#ai"
              >
                <div>
                  <span id="span21"><i class="fa-regular fa-clone"></i></span
                  ><br />
                  <span id="span2"> Gen-AI Curriculum</span>
                </div>
              </button>
            </div>
          </div>

          <div
            class="modal fade"
            id="ai"
            tabindex="-1"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">
                    Generative Artificial Intelligence (GenAI)
                  </h1>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  ></button>
                </div>
                <div class="modal-body">
                  Gen AI circulation refers to the integration and application
                  of Generative Artificial Intelligence (GenAI) in various
                  industries and domains, enabling the creation of new content,
                  ideas, and solutions. GenAI circulation involves the
                  widespread adoption and circulation of GenAI-powered tools ,
                  models, and platforms, leading to increased productivity,
                  innovation, and efficiency.
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal"
                  >
                    Close
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div
            class="modal fade"
            id="tool"
            tabindex="-1"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">
                    Tool-based Learning
                  </h1>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  ></button>
                </div>
                <div class="modal-body">
                  Tool-based learning refers to an educational approach that
                  incorporates the use of various tools, software, and
                  technologies to facilitate learning and improve educational
                  outcomes. These tools can include digital resources,
                  educational technology, and artificial intelligence-powered
                  platforms that support personalized learning, information
                  retrieval , and knowledge construction.
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal"
                  >
                    Close
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div
            class="modal fade"
            id="live"
            tabindex="-1"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">
                    live Project Certificate
                  </h1>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  ></button>
                </div>
                <div class="modal-body">
                  The value of live project certificates in the industry is
                  significant. Live project certificates demonstrate that an
                  individual has hands-on experience and skills in a particular
                  field or industry. They showcase the individual's ability to
                  apply theoretical concepts to real-world problems, which is
                  highly valued by employers.
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal"
                  >
                    Close
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div
            class="modal fade"
            id="world"
            tabindex="-1"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">
                    Real-World Practitioners: Bridging the Gap between Theory
                    and Practice
                  </h1>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  ></button>
                </div>
                <div class="modal-body">
                  Real-world practitioners are individuals who have extensive
                  experience in a particular field or industry, and have applied
                  theoretical concepts to real-world problems. They possess a
                  deep understanding of the practical implications of
                  theoretical frameworks, and have developed expertise in
                  solving complex problems. Real-world practitioners play a
                  crucial role in various fields, including business,
                  healthcare, education, and technology, among others.
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal"
                  >
                    Close
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div
            class="modal fade"
            id="portfolio"
            tabindex="-1"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">
                    Portfolio Development
                  </h1>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  ></button>
                </div>
                <div class="modal-body">
                  A portfolio is a collection of artifacts that showcase an
                  individual's skills, accomplishments, and experiences in a
                  particular field or profession. Portfolio development is an
                  essential aspect of career development, as it helps
                  individuals demonstrate their capabilities, achievements, and
                  growth over time. In today's competitive job market, having a
                  strong portfolio can be a significant differentiator, setting
                  you apart from others and increasing your chances of landing
                  your dream job.
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal"
                  >
                    Close
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div
            class="modal fade"
            id="hands"
            tabindex="-1"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">
                    Hands-on Assignments
                  </h1>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  ></button>
                </div>
                <div class="modal-body">
                  Weekly assignments in learning have several benefits. They
                  help students develop a consistent study routine, which in
                  turn, improves their time management and organizational
                  skills. By breaking down larger tasks into smaller, manageable
                  chunks, weekly assignments reduce procrastination and increase
                  productivity. This approach also allows students to receive
                  regular feedback from instructors, which helps identify areas
                  of improvement and track progress over time
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal"
                  >
                    Close
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
