<div class="container">
  <section id="first" class="animate-fade-in">
    <div class="row">
      <div id="first-half" class="col-sm-6">
        <br /><br /> <br><br><br><br>
        <h1 class="montaga-regular" style="color: rgba(12, 46, 66, 0.849);">SkillWave Learning Platform!</h1>
        <br /> <br><br><br><br><br>
        <div id="section1-div1"></div>
        <div class="">
          <h1 class="montaga-regular"></h1>
          <div id="messageBox">
            <h2 class="montaga-regular-bold">
              <p>{{ messages[currentMessageIndex] }}</p>
              <br><br>
            </h2>
          </div>
        </div>
        <div id="center">
          <div class="modal" tabindex="-1">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Join LMS</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <p>Modal body text goes here.</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Save changes</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="second-half" class="col-sm-6 animate-slide-in">
        <br><br><br>
        <h3 id="content" class="">Elevate Your Digital Expertise, Amplify Your Career: Stay Ahead in the Tech Curve with Our Expert Online Training</h3>
        <div class="search-box mt-3">
          <br><br><br>
          <input type="text" class="search-input" placeholder="Search..." />
          <button class="search-btn">
            <i class="fa fa-search"></i>
          </button>
        </div>
        <h3 id="content1">Empower Your Future: Master Tech Skills with SkillWave!</h3>
        <div class="btn mt-3">
          <button id="btn1" type="button" class="btn btn-light animate-bounce">Get Started</button>
        </div>
      </div>
    </div>
  </section>
</div>
<hr />
  