<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <h2 id="section-heading">Learning Management System Simplified!</h2>
      <h5 id="section-content">
        Explore the power of SkillWave: an AI-powered Learning & Skilling LMS
        designed to revolutionize how you create, manage, deliver, and track
        online courses. Our intuitive interface and user-friendly course
        creation tools support a variety of formats, ensuring a seamless
        experience. Gain valuable insights into training effectiveness with our
        comprehensive reports and interactive dashboards. Collect meaningful
        feedback from learners through our integrated survey tool, helping you
        continually refine your courses. Easily monitor and manage training
        completion with our detailed, in-depth reporting features. Empower
        managers and trainers with access to these reports, allowing them to
        track their team's progress and optimize learning outcomes.
      </h5>


    </div>
    <div id="div-img" class="col-sm-6">
        <img id="img3" src="../../assets/img3.png" alt="">
    </div>
  </div>
</div>
