<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h2 id="section-heading-menu">Why SkillWave?</h2>

        <h4 id="section-content">
          In today’s fast-paced, ever-evolving digital landscape, staying ahead
          requires more than just basic knowledge. It demands mastery. SkillWave
          is dedicated to empowering individuals to reach their fullest
          potential by providing top-tier educational resources and training
          programs.
        </h4>

        <img id="img1" src="../../assets/img2.png" alt="" />
      </div>
      <div class="col-sm-6">
        <div id="row" class="row">
          <h5 id="section-heading">Cutting-Edge Curriculum:</h5>
          <h6 id="section-content">
            Our courses are designed by industry experts and are continuously
            updated to keep pace with the latest trends and technologies.
            Whether you’re diving into HTML/HTML5, CSS/CSS3, MERN, MEAN, Gen AI,
            or DevOps, SkillWave ensures you gain the skills that matter.
          </h6>
        </div>
        <div id="row" class="row">
          <h5 id="section-heading">Interactive Learning Experience:</h5>
          <h6 id="section-content">
            We go beyond traditional learning with interactive modules,
            practical projects, and real-world case studies. Our hands-on
            approach ensures that you can apply what you learn immediately and
            effectively.
          </h6>
        </div>
        <div id="row" class="row">
          <h5 id="section-heading">Expert Instructors:</h5>
          <h6 id="section-content">
            Learn from the best in the field. Our instructors are not only
            knowledgeable but also passionate about teaching, guiding you every
            step of the way to ensure your success.
          </h6>
        </div>
        <div id="row" class="row">
          <h5 id="section-heading">Career Advancement:</h5>
          <h6 id="section-content">
            Our courses are designed to boost your career prospects. From
            improving your current role to opening doors to new opportunities,
            the skills you gain with SkillWave are valued and recognized by
            employers worldwide.
          </h6>
        </div>
      </div>
    </div>
  </div>
</section>
