<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <h2 id="section-heading">Transform Your Career With SkillWave!</h2>
      <h5 style="margin-top: 10%" id="section-content">
        Infused with the latest Gen AI tools, this UI/UX Design Program ensures
        a strong career in design through a learning pedagogy that focuses on
        both theory and practical learning, from the fundamentals to the
        advanced topics.
      </h5>
    </div>
    <div id="vid" class="col-sm-6">
      <!-- <app-tformnointerface></app-tformnointerface> -->
      <video
        id="video"
        src="../../assets/Empowering_Learning_with_SkillWave.mp4"
        controls
      ></video>
    </div>
  </div>
</div>
