<hr />
<body>
  <div class="container animate-container">
    <div class="row">
      <div class="col-sm-6">
        <app-contactus-section1></app-contactus-section1>
      </div>
      <div class="col-sm-6">
        <div id="first-half" class="animate-fade-in">
          <app-reactive-form></app-reactive-form>
          <div id="map" class="animate-slide-in">
            <app-contactus-map></app-contactus-map>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="animate-footer">
    <app-footer></app-footer>
  </footer>
</body>
