<header id="header">
  <app-section1></app-section1>
</header>
<section id="section2">
  <app-section2></app-section2>
</section>
<section id="section3">
  <app-section3></app-section3>
</section>
<section><app-displaydata></app-displaydata></section>
<section id="section4">
  <app-section4></app-section4>
</section>
<section id="section5">
  <app-section5></app-section5>
</section>
<section id="section6">
  <app-section6></app-section6>
</section>
<section id="section7">
  <app-section7></app-section7>
</section>
<!-- <section><app-section8></app-section8></section> -->
<footer>
  <app-footer></app-footer>
</footer>
