<div class="container">
    <div class="row">
      <div  class="col-sm-12">
       
      </div>
      <br><br><br>
      <div id="data">
        <div class="col-sm-3">
          <h1 id="icon"><i class="fa-regular fa-user"></i></h1>
          <div id="icon">
              <h3 id="worldWideUsers">1670000+</h3>
          </div>
         
          <h5 id="section-content">Active Users</h5>
        </div>
        <div class="col-sm-3">
          <h1 id="icon"><i class="fa-regular fa-circle-user"></i></h1>
          <div id="icon">
              <h3 id="worldWideUsers">1890000+</h3>
          </div>
         
          <h5 id="section-content">Users worldwide</h5>
        </div>
        <div class="col-sm-3">
          <h1 id="icon"><i class="fa-regular fa-object-ungroup"></i></h1>
          <div id="icon">
              <h3 id="worldWideUsers">4510000+</h3>
          </div>
         
          <h5 id="section-content">Course enrolments</h5>
        </div>
        <div class="col-sm-3">
          <h1 id="icon"><i class="fa-regular fa-rectangle-list"></i></h1>
          <div id="icon">
              <h3 id="worldWideUsers">9910000+</h3>
          </div>
         
          <h5 id="section-content">Courses in 50 languages</h5>
        </div>

      </div>
   
    </div>
  </div>
  